* { box-sizing: border-box; }

html 
{
    overflow-y:  hidden;
}

html, body 
{
    height: 100%;
    margin: 0;
    padding: 0;
}

#entrypoint
{
    display: block;
    width: 100%;
    height: 100%;
}

#overlay 
{
    position: absolute;

    top: 0;
    left: 0;

    font-weight: 400;
    font-family: monospace;

    font-size: 2rem;

    color: white; 
}

#overlay #FPS
{
    color: lime;
}

#overlay #FRAME_TIME 
{
    color: green;
}